nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:60px;
	background-color: green;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}

.home{
    font-family: "Times New Roman";
	border: 2px solid #373636;
	color: gold;
	font-size:30px;
	font-weight: bold;
	background-color: black;
	border-radius: 20px;
}
.table{
    margin-left: auto;
    margin-right:auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15)
}
.border{
    border: 5px solid green;
    text-align: center;
    padding:10px;
}

.search{
    height: 100%;
    margin-left: 450px;
}
